@model DAL.ViewModels.Cart.CartDropdownVM


@* <div class="dropdown cart-dropdown"> *@
@*     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> *@
@*         <i class="fas fa-shopping-cart"></i> *@
@*         <span class="cart-count">@Model.Items.Count</span> *@
@*     </a> *@

@*     <div class="dropdown-menu dropdown-menu-right"> *@
@*         @foreach (var item in Model.Items) *@
@*         { *@
@*             <div class="dropdown-item"> *@
@*                 <img src="@item.Movie.ImageUrl" width="50" alt="@item.Movie.Title"> *@
@*                 <div> *@
@*                     <h6>@item.Movie.Title</h6> *@
@*                     <p>@item.Quantity x @item.Price.ToString("C")</p> *@
@*                 </div> *@
@*             </div> *@
@*         } *@
@*         <div class="dropdown-divider"></div> *@
@*         <div class="dropdown-item"> *@
@*             <strong>Total: @Model.Total.ToString("C")</strong> *@
@*         </div> *@
@*         <a href="/Cart" class="dropdown-item text-center">View Cart</a> *@
@*     </div> *@
@* </div> *@